<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
  <title><%= title %></title>
</head>
<body>
  <%- include("partials/header") %>
  <%- include("partials/nav") %>
  
  <%- body %>  <!-- This is where the view content is injected -->
  
  <%- include("partials/footer") %>
</body>
</html>
