<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Vehicles</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Our Vehicles</h1>
    <div class="vehicle-gallery">
        <% vehicles.forEach(vehicle => { %>
            <a href="/vehicles/<%= vehicle.id %>">
                <img src="<%= vehicle.image %>" alt="<%= vehicle.name %>">
                <p><%= vehicle.name %> - <%= vehicle.price %></p>
            </a>
        <% }) %>
    </div>
</body>
</html>
