 <!-- Heading-->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<form id="delete-vehicle-form" action="/inv/delete" method="post">
    <!--Message Block-->
    <%- messages() %>

    <!-- Error Block -->
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=>{ %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

    <p>Confirm Deletion? This action will be permanent.</p>

    <label>
        Vehicle Make
        <input 
            type="text" 
            name="inv_make" 
            required 
            placeholder="Enter the vehicle make" 
            value="<%= locals.inv_make %>"
            readonly
        >
    </label>

    <label>
        Vehicle Model
        <input 
            type="text" 
            name="inv_model" 
            required 
            placeholder="Enter the vehicle model" 
            value="<%= locals.inv_model %>"
            readonly
        >
    </label>

    <label>
        Vehicle Year
        <input  
            type="text" 
            name="inv_year" 
            required 
            placeholder="Enter the vehicle year as 4 digits" 
            value="<%= locals.inv_year %>"
            pattern="^[1-2][0-9][0-9][0-9]$"
            readonly
        >
    </label>

    <label>
        Vehicle Price
        <input 
            type="number" 
            name="inv_price" 
            required 
            placeholder="Enter the price of the vehicle" 
            value="<%= locals.inv_price %>"
            readonly
        >
    </label>

    <input type="submit" value="Confirm Deletion">

    <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>
    >

</form>